---
import "../styles/custom.css";
import "../styles/main.css";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en" data-bs-theme="dark" class="spaceBG">
  <!-- these meta tags cannot be nested in a module, so they're out here -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Archive of Pimps - Rooster Teeth Archival Project</title>
  <meta
    name="title"
    content="Archive of Pimps - Rooster Teeth Archival Project"
  />
  <meta charset="utf-8" />
  <meta name="description" content="Archiving Every* RT Video" />
  <!-- defer load of big stylesheet -->
  <link
    rel="preload"
    href="https://cdn.rungus.zone/v4/css/bootstrap.min.css"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
  />
  <noscript>
    <link
      rel="stylesheet"
      href="https://cdn.rungus.zone/v4/css/bootstrap.min.css"
    />
  </noscript>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap"
    rel="stylesheet"
  />
  <script src="https://cdn.rungus.zone/js/masonry.pkgd.min.js"></script>
  <tags>
    <!-- opengraph -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://archiveofpimps.com/" />
    <meta property="og:title" content="Archive of Pimps" />
    <meta
      property="og:description"
      content="Archiving Every* Rooster Teeth Video"
    />
    <meta property="og:image" content="https://cdn.rungus.zone/rt/rt2.png" />
    <!-- twitter -->
    <!-- of course twitter has their own -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://archiveofpimps.com/" />
    <meta property="twitter:title" content="Archive of Pimps" />
    <meta
      property="twitter:description"
      content="Archiving Every* Rooster Teeth Video"
    />
    <meta
      property="twitter:image"
      content="https://cdn.rungus.zone/rt/rt2.png"
    />
  </tags>
  <icons
    ><!--favicon stuff-->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="https://cdn.rungus.zone/rt/fav/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://cdn.rungus.zone/rt/fav/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="https://cdn.rungus.zone/rt/fav/favicon-16x16.png"
    />
    <link rel="icon" href="css/google.ico" />
    <link
      rel="manifest"
      href="https://cdn.rungus.zone/rt/fav/site.webmanifest"
    />
    <link
      rel="mask-icon"
      href="https://cdn.rungus.zone/rt/fav/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <link
      rel="shortcut icon"
      href="https://cdn.rungus.zone/rt/fav/favicon.ico"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta
      name="msapplication-config"
      content="https://cdn.rungus.zone/rt/fav/browserconfig.xml"
    />
    <meta name="theme-color" content="#ffffff" />
  </icons>

  <body>
    <div class="container-fluid z-n1 position-absolute">
      <div class="container">
        <Header />
        <div class="row">
          <div class="container mb-2 frostedglass col">
            <p class="text-center runguszone mt-2" style="font-size:135%">
              <a href="https://rtarchive.org/" class="alert-link fs-1 mb-n badge text-bg-primary">Enter the RT Archive</a>
              <p class="text-center fs-5">See, Search, and Watch all your favorites! You can also search by video transcript!
          </div>
        </div>
        <div class="row">
          <div class="container mb-2 frostedglass col-auto">
            <p class="text-center runguszone mt-1 fs-3">
              Other Fun Stuff <br>
              <a href="https://discord.gg/SHCURNvG8v" class="alert-link fs-3 badge text-bg-info">Discord</a>
              <a href="https://archiveofpimps.com/shows" class="text-center alert-link fs-3 badge text-bg-secondary mb-1">Legacy AoP</a>
              <a href="https://shiruken.github.io/rt-archive/" class="alert-link fs-3 badge text-bg-warning mt-1">Metadata</a>   
              <a href="https://docs.google.com/spreadsheets/d/17Vqd_xYLh-xma_nw_TkeFexzQ2sZ4uEntibiZB8KlRI/edit?usp=sharing" class="alert-link fs-3 badge text-bg-danger">Checklist</a>
              
              <hr>
              <p class="text-center runguszone mt-1 mb-n" style="font-size:135%">
                Shoutouts</p>
                <br>
                <p class="text-center mt-n">Thank you everyone on the Discord for helping us out!<br>
                  Special Thanks to 
                  <a href="https://twitter.com/MrSheen96" class="alert-link">MrSheen</a>, 
                  <a href="https://twitter.com/KneelToGreen" class="alert-link">KneeltoGreen</a>, 
                  <a href="https://github.com/rungulus" class="alert-link">rungus</a>, 
                  Carpal, 
                  <a href="https://www.reddit.com/user/shiruken/" class="alert-link">shiruken</a>, 
                  <a href="https://www.reddit.com/user/schmintendo" class="alert-link">schmintendo</a>, 
                  <a href="https://www.reddit.com/user/Madog24/" class="alert-link">Madog24</a>, 
                  RatchetsRevenge, 
                  LoopsPls, 
                  <a href="https://www.instagram.com/undeadmatrix" class="alert-link">undeadmatrix</a>,
                  <a href="https://github.com/tgb20" class="alert-link">tgb20</a>, 
                  <a href="http://textfiles.com/" class="alert-link">Jason Scott</a>, 
                  and <a href="https://www.reddit.com/user/-Archivist" class="alert-link">-Archivist</a>!<br>
              And of course, thank you to Rooster Teeth who brought us 21 years worth of content to enjoy! ❤</p>
          </div>
        </div>
        <Footer />
      </div>
    </div>
  </body>


</html>
