---
import archives from "../data/archives.json";
---

<script>
  function adjustColumnClass() {
    const archCols = document.querySelectorAll(".archCol");
    archCols.forEach((archCol) => {
      if (window.innerWidth <= 600) {
        // Adjust 600 to your mobile breakpoint
        archCol.classList.remove("col-6");
        archCol.classList.add("col-12");
      } else {
        archCol.classList.remove("col-12");
        archCol.classList.add("col-6");
      }
    });
  }

  // Run initially and add event listener for resizing
  adjustColumnClass();
  window.addEventListener("resize", adjustColumnClass);
</script>

<style>
  li {
    font-size: 145%;
    color: #dedede; /* https://images.gamebanana.com/img/ss/mods/58c87d7073cdf.jpg */
    font-family:
      roboto slab,
      serif;
  }
</style>
<div class="grid-container">
  <div class="row" data-masonry='{"percentPosition": true }'>
    {
      archives.map((archive) => (
        <>
          <div class="archCol col-6 pb-2">
            <div class="frostedglass container" id={archive.category}>
              <p class="fs-2 runguszone mb-n">{archive.category}</p>
              <ul>
                {archive.links.map((link) => (
                  <li>
                    <a class="alert-link runguszone" href={link.url}>
                      {link.name}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          </div>
        </>
      ))
    }
  </div>
</div>
