---
import archives from "../data/archives.json";
---

<style>
  li {
    font-size: 145%;
    color: #dedede; /* https://images.gamebanana.com/img/ss/mods/58c87d7073cdf.jpg */
    font-family:
      roboto slab,
      serif;
  }
</style>
<script src="https://cdn.rungus.zone/js/masonry.pkgd.min.js"></script>
<div class="grid-container">
  <div class="row" data-masonry='{"percentPosition": true }'>
    {
      archives.map((archive) => (
        <>
          <div class="col-sm-6 col-lg-4 pb-2">  
            <div class="frostedglass container" id={archive.category}>
              <p class="fs-2 runguszone mb-n">{archive.category}</p>
              <ul>
                {archive.links.map((link) => (
                  <li>
                    <a class="alert-link runguszone" href={link.url}>{link.name}</a>
                  </li>
                ))}
              </ul>
            </div>
          </div>  
        </>
      ))
    }
  </div>
</div>
