<rowarea class="row">
  <div class="container mt-3 mb-3 frostedglass col">
    <!-- <p class="text-center runguszone mt-1" style="font-size:135%">Some RT YouTube Channels were also backed up on Ragtag Archive. <br>
      <a class="alert-link" href="https://roosteretal-archive.ragtag.moe/">Click here to check it out!</a></p>
    <hr> -->
    <p class="text-center runguszone fs-1">
      Please donate to the Internet Archive!<br />
      <span class="fs-5">Hosting all this cannot be cheap!</span><br />
      <a href="https://archive.org/donate" class="alert-link text-center"
        >https://archive.org/donate</a
      >
    </p>
  </div>
</rowarea>
<rowarea class="row">
  <div class="container mb-3 pb-2 frostedglass pt-3 col" style="color:azure;">
    <p class="runguszone text-center small mb-n2 mt-n">
      Thanks for everything, RT ❤
    </p>
    <p class="runguszone text-center mb-n">
      All content linked on this page is property of their respective owners
    </p><br />
    <span class="runguszone"
      ><a href="https://rungus.zone/terms" class="alert-link">tos</a><br />
      <a
        href="https://github.com/rungulus/roosterteeth-archival-website"
        class="alert-link"
        >this site doesn't update automatically, wanna help out?</a
      >
      <span class="alert-link"></span>
      <span class="float-end"
        >❤, <a href="https://github.com/rungulus" style="color:azure;">rungus</a>, <a
          href="https://www.instagram.com/undeadmatrix"
          style="color:azure;">undeadmatrix</a
        >, <a href="https://github.com/tgb20" style="color:azure;">tgb20</a
        > & <a href="https://x.com/MrSheen96" style="color:azure;">MrSheen</a
        ></span
      ><br /></span
    >
  </div>
</rowarea>
