---
import Countdown from "./Countdown.svelte";
---

<pagelogo>
  <div class="row">
    <div class="frostedglass mt-3 mb-1 pb-2">
      <p class="text-center m-0 runguszone siteText">Archive of Pimps</p>
      <p class="fs-5 text-center runguszone">
        The Rooster Teeth Archival Project
      </p>
      <hr />
      <div class="mt-n mb-n">
        <Countdown client:only />
      </div>
      <hr />
      <p class="text-center runguszone mt-n">
        Archiving everything Rooster Teeth because WB <em>cannot be trusted!</em
        >
      </p>
      <p class="text-center runguszone mb-n mt-n fs-5">
        <a href="https://discord.gg/SHCURNvG8v" class="alert-link"
          >Join the Discord!</a
        >
        - <a
          href="https://docs.google.com/spreadsheets/d/10g_7wKA2DEsoWWnG_RG-IyoZf3QEdIv8X97bUbrK5-E/preview#gid=1040887463"
          class="alert-link">Source Document</a
        >
      </p>
    </div>

  </div>
</pagelogo>
